.AboutUs {
    
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    padding-top: 110px;
    background-color:rgb(81, 28, 107);
    color: cyan;
    text-shadow: 2px 2px black;
    font-weight: 500;
padding-bottom: 60px
}

.about {
    height: 100px;
}
.dream{
    text-shadow: 1px 1px black;
    color: rgb(0, 214, 214)
}
.aboutBody {
    background-color:lavender;
    padding-top: 30px;
    text-shadow: none;
    color:black;
margin-left: 15%;
margin-right:15%;
font-size: 1.6em;
border-spacing: 10px
}
.fullAbout {
    background-color: lavender;
    height:100%
}