

.navBar {
  background-color: purple;
  float: left;
  padding-top: 6px;
padding-bottom: 4px;
  text-decoration: none;
  width: 100vw;
  list-style: none;
}

.navList {
  display: flex;
  justify-content: space-around;
  font-size: 140%;
}

.Links {
  color: rgb(0, 234, 255);
  text-decoration: none;
}

.logo {
  height: 30px;
  width: 40px;
  margin-left: 4vw;
}

.Links:hover {
  color: rgb(151, 221, 221);
}

.songList {
  background: rgb(255, 255, 255);
}

.sideInfo {
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  float: right;
  margin-right: 26vw;
  padding: 20px
} 
.imgURL {
  height: 28vh;
  width: 20vw;
   align-content: center;
/* display: flex; */
  margin-left: 34vw;
  padding-top: 10px;
}
.artist {
  padding-bottom: 30px
}

.favButton {
  margin-top: 30px
}

.whole {
  float:left
}