.titleAndButton {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36vh
}

h4 {
    color: cyan
}

/* img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
} */
